<!DOCTYPE html>
<html lang="{{ $props.lang or 'en' }}" class="page">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ $props.title or 'Default Title' }}</title>
</head>
<body class="page__body">
  {{ content | safe }}
</body>
</html>